@import "variable";
html,body {
  font-family: 'Microsoft YaHei';
  height 100%
}
.btn {
  opacity: 0.9;
  &:hover{
    opacity: 1;
  }
}
.nop{
  padding: 0px;
}
.clearfix:after{
  content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
}

.clearfix {
  zoom: 1; 
}

.cube-popup {
  max-width 16rem
  margin 0 auto
}

